.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.qrWrapper svg path:last-child {
  fill: rgb(7, 11, 8);
}

.input {
  margin-top: 100px;
  border-radius: 5px;
  border: .5px solid black;
  color: rgb(15, 15, 15);
  width: 400px;
  height: 50px;
  padding: 8px 16px;
  font-size: 32px;
}

.button {
  border: none;
  background-color: rgb(48, 29, 88);
  color: rgb(216, 199, 176);
  font-size: 20px;
  border-radius: 16px;
  padding: 8px 16px;
}

.button:hover {
  background-color: rgb(116, 97, 154);
}

.button:active {
  background-color: rgb(29, 19, 37);
  color: rgb(255, 255, 255);
}