.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container a {
  padding: 6px;
  text-decoration: none;
  border-radius: 10px;
  color: rgb(216, 199, 176);
  background-color: rgb(48, 29, 88);
}

.container a:hover {
  background-color: rgb(116, 97, 154);
}

.container a:active {
  background-color: rgb(29, 19, 37);
  color: rgb(255, 255, 255);
}